* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f5;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.form-wrapper {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

.submit-btn {
    background-color: #5d3c7b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
}

.submit-btn:hover {
    background-color: #482a63;
}

.status-message {
    background-color: #e0f7e0;
    color: #2e7d32;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

/* Estilos para o paginador */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.circle {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
}

.circle.active {
    background-color: #5d3c7b;
}
